In [30]:
import boto3
import os
import json

aws_secrets = json.load(open("secrets.json"))

# S3 bucket and path
BUCKET_NAME = "oedi-data-lake"
PREFIX = "pvdaq/parquet/mount/"

# Local directory to save the downloaded files
local_directory = './data/'

# Create an S3 client
s3 = boto3.client(
    "s3",
    aws_access_key_id=aws_secrets["aws_access_key_id"],
    aws_secret_access_key=aws_secrets["aws_secret_key_id"],
    region_name=aws_secrets["region_name"]
    )


# List objects in the specified S3 path
objects = s3.list_objects(Bucket=BUCKET_NAME, Prefix=PREFIX, Delimiter="/")

In [35]:
key = 'pvdaq/parquet/mount/part-00000-1567c6a2-6a28-4b93-93c7-584c12b517d8-c000.snappy.parquet'
local_file_path = os.path.join(local_directory, os.path.basename(key))
s3.download_file(BUCKET_NAME, key, local_file_path)

In [33]:
objects["Contents"][0]["Key"]

'pvdaq/parquet/mount/part-00000-1567c6a2-6a28-4b93-93c7-584c12b517d8-c000.snappy.parquet'

In [5]:
import pandas as pd

In [36]:
mount_metdata = pd.read_parquet("data/part-00000-1567c6a2-6a28-4b93-93c7-584c12b517d8-c000.snappy.parquet")

In [22]:
site_metdata = pd.read_parquet("data/part-00000-a1617b0d-de41-4ca8-8586-51326d82d03f-c000.snappy.parquet")

In [44]:
(site_metdata["system_id"].value_counts() > 1).any()

False

In [47]:
mount_metdata[mount_metdata["system_id"] == 51]

,azimuth,manufacturer,model,mount_id,name,tilt,tracking,type,site_id,system_id
125,158.0,,,47,sws_51_mt1,45.0,f,None,4,51

In [29]:
pd.read_parquet("data/metrics__system_51__part000.parquet")

,system_id,metric_id,sensor_name,common_name,raw_units,units,calc_scale,calc_offset,calc_details,aggregation_type,source_type,source_id,comments,standard_name
0,51,772,dc_power,DC power,W,W,1.0,0.0,,avg,None,NaN,,dc_power__772
1,51,773,ac_power,AC power,W,W,1.0,0.0,,avg,None,NaN,,ac_power__773
2,51,786,dc_power_1,DC power,W,W,1.0,0.0,,avg,None,NaN,,dc_power_1__786
3,51,787,dc_power_2,DC power,W,W,1.0,0.0,,avg,None,NaN,,dc_power_2__787
4,51,788,ac_power_1,AC power,W,W,1.0,0.0,,avg,None,NaN,,ac_power_1__788
5,51,789,ac_power_2,AC power,W,W,1.0,0.0,,avg,None,NaN,,ac_power_2__789
6,51,779,ac_current,AC current,A,A,1.0,0.0,,avg,None,NaN,,ac_current__779
7,51,778,ac_volts,AC voltage,V,V,1.0,0.0,,avg,None,NaN,,ac_volts__778
8,51,775,dc_pos_current,DC current,A,A,1.0,0.0,,avg,None,NaN,,dc_pos_current__775
9,51,777,dc_neg_current,DC current,A,A,1.0,0.0,,avg,None,NaN,,dc_neg_current__777
10,51,790,das_battery_voltage,DC voltage battery,V,V,1.0,0.0,,avg,None,NaN,,das_battery_voltage__790
11,51,771,poa_irradiance,Irradiance POA,W/m^2,W/m^2,1.0,0.0,,avg,None,NaN,,poa_irradiance__771
12,51,791,inverter_temp_2,Temperature inverter,C,C,1.0,0.0,,avg,None,NaN,,inverter_temp_2__791
13,51,780,ambient_temp,Temperature ambient,C,C,1.0,0.0,,avg,None,NaN,,ambient_temp__780
14,51,781,module_temp_1,Temperature module,C,C,1.0,0.0,,avg,None,NaN,,module_temp_1__781
15,51,782,module_temp_2,Temperature module,C,C,1.0,0.0,,avg,None,NaN,,module_temp_2__782
16,51,783,module_temp_3,Temperature module,C,C,1.0,0.0,,avg,None,NaN,,module_temp_3__783
17,51,774,dc_pos_voltage,DC voltage,V,V,1.0,0.0,,avg,None,NaN,,dc_pos_voltage__774
18,51,776,dc_neg_voltage,DC voltage,V,V,1.0,0.0,,avg,None,NaN,,dc_neg_voltage__776
19,51,785,das_temperature,Temperature panel,C,C,1.0,0.0,,avg,None,NaN,,das_temperature__785
20,51,784,inveter_temp,Temperature inverter,C,C,1.0,0.0,,avg,None,NaN,,inveter_temp__784

In [10]:
pd.read_parquet("data/system_51__date_1995_01_01.snappy.000.parquet")

             measured_on utc_measured_on  metric_id   value
0    1995-01-01 00:15:00             NaT        772   0.000
1    1995-01-01 00:15:00             NaT        776   0.000
2    1995-01-01 00:15:00             NaT        780 -14.310
3    1995-01-01 00:15:00             NaT        784 -10.020
4    1995-01-01 00:15:00             NaT        787   0.000
...                  ...             ...        ...     ...
1705 1995-01-01 23:30:00             NaT        783  -2.125
1706 1995-01-01 23:45:00             NaT        772   0.000
1707 1995-01-01 23:45:00             NaT        776   0.000
1708 1995-01-01 23:45:00             NaT        780   0.316
1709 1995-01-01 23:45:00             NaT        784   2.622

[1710 rows x 4 columns]